td{
  text-align: center;
}

table {
  font-family: "MSゴシック" ;
  border-collapse: collapse;
  /*border: none;  */  
  border: solid 2px orange;/*表全体を線で囲う*/
  margin: 0px;
}

table th, table td {
  border: dashed 1px orange;
  text-align: center;
  /*破線 1px オレンジ*/
}

.credits_table{
  display: inline-block;
  vertical-align: top;
}

.credits_table .tc_subject{
  width: 286px;
}

.credits_table .tc_credit_req{
  width: 67px;
}

.credits_table .tc_credit_got{
  width: 223px;
}

.credits_table .tc_credit_insufficient{
  width: 115px;
}

table input{
  text-align: center;
}

.subtotal1_bgcolor{
  background-color: #ffd9d2;
}

.subtotal2_bgcolor{
  background-color: #c6f78e;
}

.subtotal3_bgcolor{
  background-color: #cad4f7;
}

.subtotal4_bgcolor{
  background-color: #e6ccf5;
}

.total1_bgcolor{
  background-color: #cbfff4;
}

.total2_bgcolor{
  background-color: #faffaf;
}

.all_total_bgcolor{
  background-color: #ffea8a;
}

.subtotal1, .subtotal2, .subtotal3, .subtotal4, .total1, .total2, .all_total{
  transition: 0.5s;
}

h1 {
/* タイトルTLGのCSS */
  font-family: "MSゴシック" ;
  text-align: center;
  background: #ffd98a;
  padding: 2px 5px 2px 25px;
  font-size: 30px;
  color: #474747;
  border-radius: 100px 100px 10px 10px;
  color: #ffffff;
}

.usage{
/* 上の使い方説明のcss */
  /*text-align: center; */
  margin: 10px 10px;
}

.txt{
/* 入力してもらうinputのCSS */
  width: 50%;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
/* ハイライトした時に入力欄の長方形が白く目立つので，背景を透明(transparent)に */
}

.category{
  font-size: 20px;
/* 共通教育，専門教育，とかのカテゴリー？のCSS */
  text-align: left;
  background-color: #ffd98a;
}

.GoogleForm{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(255, 251, 218);
}

input:invalid{
  border: solid 1px red;
}

.select-label{
  box-shadow:0 3px 5px rgba(0,0,0,.2);
  padding:12px;
  background:white;
  width:200px;
  display:inline-block;
  position:relative;
  margin-left:20px;
}


.select_condition{
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  /* webkit系のモバイルブラウザを初期化 */
  -moz-appearance:none;
  /* Firefox や Edge を初期化 */
  appearance:none;
  /* それぞれのOSのUIスタイルを解除 */
  cursor:pointer;
  border-radius:0;
  z-index:2;
  font-size:16px;
  color:#909090;
  width:200px;
  height: 20px;
  background:transparent;
}

.select-label:after{
  content:"\25bc";
/* 下向きの三角形，Unicode番号U+25BC */
  font-size:16px;
  color:white;
  background:#ffd98a;
  width:42px;
  text-align:center;
  line-height:3.2em;
  top:0;
  right:0;
  bottom:0;
  position:absolute;
  pointer-events:none;
}


.warning{
  color: red;
}

.success{
  color:rgb(18, 209, 43)
}
.ul-align-center{
  text-align: left;
  display: inline-block;
}

li {
  text-align: left;
}

.image-vw {
  width: 100%; 
  max-width: 700px;
}
.SubjectClassificationImage {
  text-align: center;
  display: none;
}

.req_lab {
  border: 2px solid orange;
  margin: 0 auto;
  width: 90%;
  max-width: 650px;
  display: none;
}

.check_lb {
  text-align: left;
  display: block;
  width: 90%;
  max-width: 550px;
}

.ol_portal_usage{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.req_sub{
  display: none;
}

.below_the_select{
  opacity: 1;
  transition: 2s;
}

/* アコーディオンメニュー */

.usage{
  width: 696px;
  text-align: center;
  margin: 0 auto;
}

.ac_usage_inside{
  text-align: left;
}

.usage :last-child {
  margin-bottom: 20px; /* 最後の要素の下にだけ余白 */
}
.usage input {
  display: none;
}
.usage label {
  color: #474747; /* 文字色 */
  font-size: 18px; /* 文字サイズ */
  line-height: 2; /* 行間 */
  /*font-weight: bold; /* 文字を太く */
  text-align: center; /* 文字を中央に */
  background:  #fce6b8; /* グラデーションの背景色 */
  padding: 3px; /* 内側の余白 */
  cursor: pointer;
  position: relative;
  display: block;
}
.usage label:after {
  position: absolute;
  right: 20px; /* 左からの距離 */
  top: 50%; /* 上下中央配置 */
  -webkit-transform : translateY(-50%);
  transform : translateY(-50%);
  content: "+"; /* アイコン */
}
.usage input:checked ~ label::after {
  content: "-"; /* クリック後のアイコン */
}
.usage div {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s; /* 開閉スピード */
}
.usage input:checked ~ div {
  height: auto;
  opacity: 1;
  padding: 20px; /* 中身の枠内の余白 */
  background: #FAFAFA; /* 中身の背景色 */
}
.ac-menu-inside {
  color: #333; /* 中身の文字色 */
  font-size: 17px; /* 中身の文字サイズ */
  line-height: 2; /* 行間 */
}
.course_model{
  margin: 0 auto;
  width: 90%;
  max-width: 650px;
  display: none;
}
