td{
    text-align: center;
}

table {
    font-family: "MSゴシック" ;
    border-collapse: collapse;
    border: solid 2px orange;/*表全体を線で囲う*/
  }

  table th, table td {
    border: dashed 1px orange;/**/
    /*破線 1px オレンジ*/
  }

/* .subtotal_1{
  background-color: #ffd9d2;
} */

h1 {
  font-family: "MSゴシック" ;
  text-align: center;
  background: #ffd98a;
  padding: 2px 5px 2px 25px;
  font-size: 30px;
  color: #474747;
  border-radius: 100px 100px 10px 10px;
  color: #ffffff;
}

.txt{
  width: 50%;
  border-top: none;
  border-right: none;
  border-left: none;
  
  
}